body {
    background-color: #090909;
    background-image: url("./images//background.jpg");
    background-size: cover;

}

#carousel {
    max-height: 500px;
}

@media screen and (min-width: 576px) {
    
    .card{
        margin-left: 100px;
    }
}


/* 
@media screen and (max-width: 768px) {
    .container {
        padding: 10px;
    }
    img {
        max-width: 100%;
        height: auto;
    }
    #addtocard{
        margin-top: -10px;
    }
    hr{
        margin-top: -10px;
    }
    #cardlist{
        margin-left: -60px;
    }
}
@media screen and (min-width: 576px) {
    form{
        width:500px;
        height: auto;
    }
    img{
        width: 100%;
    }
    .card{
        margin-left: 100px;
    }
}

@media screen and (min-width: 769px) {
    .container {
        padding: 10px;
    }
    img {
        max-width: 100%;
        height: auto;
    }
    #addtocard{
        margin-top: 10px;
    }
    hr{
        margin-top: -10px;
    }
    #cardlist{
        margin-left: 70px;
    }
    #navbarNav{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 60px;
    }
}

@media screen and (max-width: 1024px) {
    .container {
        padding: 10px;
    }
   
    #addtocard{
        margin-top: 10px;
    }
    hr{
        margin-top: -10px;
    }
    #cardlist{
        margin-left: -10px;
        padding: 5px;
    }
    #navbarNav{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 60px;
    }
} */